<div class="wrapper">
    <div class="copyright">
        copyright &#169; 2012 cautious films
    </div>
    <div class="music">
        <a href="#" class="" id="start_stop_sound"></a>
        <a href="#" class="action pause" id="start_stop_btn"></a>
    </div>
</div>


