/* @override http://dev.cautiousfilms.com/css/style.css */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; text-shadow: 1px 1px 1px #000;
filter: dropshadow(color=#000, offx=1, offy=1);}

body, button, input, select, textarea { font-family: sans-serif; color: #222; }


::-moz-selection { background: #c8a11c; color: #fff; text-shadow: none; }
::selection { background: #c8a11c; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #fff; }
a:visited { color: #fff; }
a:hover { color: #c8a11c; }
a:focus { outline: none; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {  }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================

   ========================================================================== */

@font-face { font-family: 'QuattrocentoSansRegular', sans-serif; src: url('../fonts/quattrocentosans-regular-webfont.eot'); src: url('../fonts/quattrocentosans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quattrocentosans-regular-webfont.woff') format('woff'), url('../fonts/quattrocentosans-regular-webfont.ttf') format('truetype'), url('../fonts/quattrocentosans-regular-webfont.svg#QuattrocentoSansRegular') format('svg'); font-weight: normal; font-style: normal; font-variant: normal; }




input:invalid,
input:-moz-ui-invalid { border: 0; outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; background-color: #fff; }

/* Containers */
html { height: 100%; -webkit-font-smoothing: antialiased;}
body { background-color: #000; color: #fff; height: 100%; }
.wrapper { margin: 0 auto; width: 900px; }
.nonfooter { position: relative; min-height: 100%; overflow: hidden;
}

/* header */
header { 
    background-color: #131313; 
    border-bottom: 1px solid #c8a11c; 
    height: 159px; 
    overflow: hidden; 
    width: 100%; 
    position: relative;
    z-index: 1;
}
header .logo,
header .logo:visited { display: block; float: left; margin: 104px 0 0 460px; }
header .logo img { display: block; }

/* nav */
nav { float: right; width: 150px; font-family: 'QuattrocentoSansRegular', sans-serif; text-align: right; }
nav ul { width: 100%; }
nav li { display: block; width: 100%; float: left; }
nav li a,
nav li a:visited { display: block; color: #fff; font-size: 20px; line-height: 26px; text-decoration: none; }
nav li a:hover { color: #c8a11c; }
nav li a:focus { outline: none; }
nav .current a,
nav .current a:visited { color: #c8a11c; }

/* container */
.container { 
    width: 100%; 
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, 0.3);
}

.container .wrapper { padding: 36px 0 155px; overflow: hidden; position: relative; }

/* backgrounds */
#bg { position: fixed; top: 0; left: 0; height: 100%;
}
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

/* video backgrounds */
#contact_video, #podcast_video, #index_video, #bg_grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#contact_video_html5_api, #podcast_video_html5_api, #index_video_html5_api {
    width: 100%;
}
#bg_grid {
    background-image: url(../img/bg_grid.png);
}
/*#contact_video, #podcast_video, #index_video {
    z-index: -2;
}*/

/* footer */
footer { width: 100%; background: url(../img/bgr-footer.png) repeat-x bottom; position: relative; margin: -40px 0 0; overflow: hidden; height: 40px; z-index:1;}
footer .wrapper { overflow: hidden; padding: 7px 0 0; }

/* social */
.social { float: left; margin: 4px 0 0; }
.social li { display: block; float: left; }
.social a,
.social a:visited { display: block; float: left; text-indent: -9999em; background-image: url(../img/bgr-social.png); background-repeat: no-repeat; height: 21px; }
.social a:focus { outline: none; }
.social .fb,
.social .fb:visited { width: 22px; background-position: 0 0; }
.social .in,
.social .in:visited { width: 22px; background-position: -57px 0; margin: 0 41px 0 35px; }
.social .email,
.social .email:visited { width: 26px; background-position: -120px 0; margin: 0 43px 0 0; }
.social .rss,
.social .rss:visited { width: 20px; background-position: -189px 0; }
.social a img { display: block; }

/* newsletter */
.newsletter { float: left; width: 221px; margin: 0 121px 0 61px; }
.newsletter input[type="email"],
.newsletter input[type="text"] { float: left; background: url(../img/bgr-newsletter.png) no-repeat; width: 160px; height: 28px; line-height: 28px; vertical-align: middle; padding: 0 12px; display: block; color: #232124; font-size: 12px; border: 0; outline: none;  box-shadow: none; font-family: 'QuattrocentoSansRegular', sans-serif; }
.newsletter input[type="submit"] { float: left; background: url(../img/bgr-submit.png) no-repeat; width: 37px; height: 28px; display: block; cursor: pointer; border: 0; }
.newsletter input[type="submit"]:focus { outline: none; }

/* copyright */
.copyright { float: left; color: #4f4f4f;
vertical-align: middle; width: 330px;
font: 12px/12px 'QuattrocentoSansRegular', sans-serif;
}

/* music */
.music { float: right; width: 44px; margin: 0px 0px 20px 41px; }
.music .on,
.music .on:visited { float: left; background: url(../img/bgr-sound.png) no-repeat; width: 11px; height: 12px; display: block; text-indent: -9999em; font-size: 0; }
.music .action,
.music .action:visited { float: left; width: 9px; height: 12px; display: block; text-indent: -9999em; font-size: 0; margin: 0 0 0 24px; }
.music .play { background: url(../img/ic_media_play.png) no-repeat; background-size: cover; width: 20px; height: 20px; }
.music .pause { background: url(../img/ic_media_pause.png) no-repeat; background-size: cover; width: 20px; height: 20px; }

/* facebook */
.facebook, .fb-like { float: right; margin: 1px 2px 0 0; }

/* left-side */
.left-side { float: left; width: 214px; }

/* content */
.content { width: 506px; float: left;  }


/* index styles
------------------------------------------------------------------------------*/
#welcome {
 margin: 400px 0 0 -100px;
 white-space: nowrap;
}
#welcome h2, #welcome h3 {
    font-weight: normal;
}

/* Promo styles
------------------------------------------------------------------------------*/

/* promos */
.promos { width: 100%; }
.promos figure img { display: block; }
.promos ul { width: 100%; overflow: hidden; margin: 0; padding: 0; }
.promos li { display: block; width: 100%; float: left; margin: 0 0 22px; position: relative;
}

.promos li a,
.promos li a:visited { 
    display: block; width: 180px; height: 92px; 
    text-decoration: none;
    
}
.promos li .thumb { 
    display: block; 
    position: absolute;
    top: 0;
    left: 0;
    width: 180px; height: 92px;
    border: 1px solid #000;
    z-index: 1;
}
.promos li .play { 
    display: block; 
    position: absolute;
    top: 20px;
    left: 68px;
    z-index: 2;
}

.promos li div {
    background-color: rgba(200, 160, 27, 0.8);
    border: 1px solid #fff;
    color:#c8a11c;
    position: absolute;
    top: 0;
    left: 0;
    width: 161px; height: 72px;
    padding: 10px;
    z-index: 3;
    display: none;
}
.promos li .title {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    display: block;
}
.promos li .author {
    color: #000;
    font-weight: normal;
    font-size: 12px;
    display: block;
}
.promos li .date {
    color: #000;
    font-weight: normal;
    font-size: 12px;
}
.promos li *, .promos .nav * {
	text-shadow: none;
}
.promos li a:hover div {
    display: block;
}
.promos li a:hover .play {
    display: none;
}

.promos .nav { width: 180px; overflow: hidden; margin: 13px 0 0; }
.promos .nav .prev,
.promos .nav .prev:visited { display: block; float: left; color: #6f6f6f; font-size: 16px; text-decoration: none; width: 88px; line-height: 21px; vertical-align: middle; text-indent: 20px; background-color: #141313; }
.promos .nav .next,
.promos .nav .next:visited { display: block; float: right; color: #6f6f6f; font-size: 16px; text-decoration: none; width: 88px; line-height: 21px; vertical-align: middle; text-indent: 23px; background-color: #141313; }
.promos .nav .prev:hover,
.promos .nav .next:hover,
.promos .nav .on,
.promos .nav .on:visited { color: #000; background-color: #c8a11c; }

/* promo */
.promo { font-family: 'QuattrocentoSansRegular', sans-serif;  }
.promo figure { display: block; }
.promo figure a,
.promo figure a:visited { display: block; }
.promo figure a img { display: block; }
.promo .meta { display: block; font-size: 15px; line-height: 18px; padding: 20px 0 0; }
.promo .details { margin: 0 0 26px; }
.promo h2 { font-size: 29px; line-height: normal; padding: 0; margin: 20px 0 0; font-weight: normal; }
.promo em { text-transform: uppercase; font-style: normal; font-weight: bold; }

.promo p { padding: 0; margin: 0; }

/* Podcast styles
------------------------------------------------------------------------------*/

/* archive */
.archive { width: 100%; }
.archive h2 { font-size: 29px; font-family: 'QuattrocentoSansRegular', sans-serif; padding: 0; margin: 0 0 7px; text-shadow: 0 1px 1px #404040; font-weight: normal; }
.archive ul { width: 100%; padding: 0; margin: 0; list-style: none; font-family: 'QuattrocentoSansRegular', sans-serif; }
.archive li { width: 100%; display: block; padding: 0; margin: 0; }
.archive li a,
.archive li a:visited { display: block; text-decoration: none; color: #fff; font-size: 15px; line-height: 26px; text-shadow: 0 1px 1px #404040; }
.archive li a:hover { text-decoration: underline; }
.archive .current a { color: #c8a11c !important; }

/* podcast */
.podcast { 
	font-family: 'QuattrocentoSansRegular', sans-serif; 
	width: 500px;

}
.podcast h2 { font-size: 29px; font-weight: normal; padding: 0; margin: 0; text-shadow: 0 1px 1px #404040; }
.podcast h3 { font-size: 15px; line-height: 26px; padding: 0; margin: 0; font-weight: normal; text-shadow: 0 1px 1px #404040; }
.podcast .date { font-size: 15px; line-height: 26px; text-shadow: 0 1px 1px #404040; }
.podcast .date em { font-style: normal; text-transform: uppercase; }
.podcast .meta { margin: 0 0 16px; }
.podcast p { padding: 0; margin: 0; font-size: 15px; line-height: 26px; text-shadow: 0 1px 1px #404040; }
.podcast figure img { display: block; margin: 8px 0 0; }
.podcast h2 a, .podcasts h4 a { text-decoration: none; }

/* podcasts */
.playlist li {
    margin: 0 0 30px 0;
}
.podcasts { font-family: 'QuattrocentoSansRegular', sans-serif; }
.podcasts .item { width: 100%; margin: 43px 0 0; }
.podcasts h4 { padding: 0; margin: 0; font-weight: normal; text-shadow: 0 1px 1px #404040; font-size: 29px; }
.podcasts h5 { padding: 0; margin: 0; font-weight: normal; text-shadow: 0 1px 1px #404040; font-size: 15px; line-height: 26px; }
.podcasts .date { text-shadow: 0 1px 1px #404040; line-height: 26px; }
.podcasts .date em { font-style: normal; text-transform: uppercase; }
.podcasts .play,
.podcasts .play:visited { display: block; background: url(../img/bgr-play-podcast.jpg) no-repeat; width: 19px; height: 16px; display: block; text-indent: -9999em; font-size: 0; margin: 4px 0 0; }


/* Contact styles
------------------------------------------------------------------------------*/

/* content-wide */
.content-wide { margin: 0; }

/* contact */
.contact { width: 100%; overflow: hidden; }
.contact p { padding: 0; margin: 0 0 16px; font-size: 16px; line-height: 24px; color: #e2e2e2; font-family: 'QuattrocentoSansRegular', sans-serif; text-shadow: 0 1px 1px #404040; }
.contact p span { text-transform: uppercase; font-size: 24px;  }

/* contact-form */
.contact-form { width: 100%; overflow: hidden; margin: 68px 0 0; }
.contact-form fieldset { width: 100%; overflow: hidden; }
.contact-form #name,
.contact-form #email2 { clear: both; width: 246px; height: 26px; padding: 0 12px; line-height: 26px; border: 0; vertical-align: middle; border-width: 0 0 1px 1px; border-color: #0c0c0c #555; border-style: solid; font-size: 14px; color: #000; font-family: 'QuattrocentoSansRegular', sans-serif; }
.contact-form #email2 { margin: 14px 0 15px; }
.contact-form textarea { clear: both; width: 468px; height: 145px; padding: 0 12px; line-height: 26px; border: 0; vertical-align: middle; border-width: 0 0 1px 1px; border-color: #0c0c0c #555; border-style: solid; font-size: 14px; color: #000; font-family: 'QuattrocentoSansRegular', sans-serif; resize: vertical; min-height: 145px; }
.contact-form .row { width: 100%; overflow: hidden; }
.contact-form .row-wide { width: 493px; overflow: hidden; margin: 20px 0 0; }
.contact-form #spam-text { width: 80px; height: 34px; padding: 0 8px; line-height: 34px; vertical-align: middle; border: 0; background: url(../img/bgr-spam-text.png) no-repeat; font-size: 14px; font-family: 'QuattrocentoSansRegular', sans-serif; display: block; float: left; margin: 2px 0 0; }
.contact-form .refresh { background: url(../img/bgr-refresh.png) no-repeat; width: 44px; height: 34px; display: block; text-indent: -9999em; font-size: 0; display: block; float: left; margin: 2px 0 0; }
.contact-form .spam { display: block; float: left; margin: 2px 117px 0 36px; }
.contact-form .spam img { display: block; }
.contact-form .row input[type="submit"] { float: left; background: url(../img/bgr-contact-submit.png) no-repeat; width: 106px; height: 36px; display: block; text-indent: -9999em; font-size: 0; border: 0; padding: 0; margin: 8px 0 0 0; cursor: pointer; }
.contact-form .row input[type="submit"]:focus { outline: none; }

/* contact-data */
.contact-data { float: right; width: 308px; text-align: right; clear: both; font-size: 14px; line-height: 21px; margin: 200px 0 0; text-shadow: 0 1px 1px #404040; font-family: 'QuattrocentoSansRegular', sans-serif; }
.ie7 .contact-data { margin-left: -200px; }
.contact-data a,
.contact-data a:visited { color: #c8a11c; text-decoration: none; display: block; }
.contact-data a:hover { text-decoration: underline; }



/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}