{% extends "MbaCautiousBundle::layout_new.html.twig" %}

{% block welcome %} 
<section id="welcome">
    {% autoescape false %}{{ page.content }}{% endautoescape %}    
</section>                                 
{% endblock %} 