{% extends "MbaCautiousBundle::layout_new.html.twig" %}

{% block content %}
    <section class="content content-wide">
        {% autoescape true %}
                {{ page.content | raw}}
        {% endautoescape %}
    </section>
{% endblock %}
